# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf
*.pyx text eol=lf
*.pxd text eol=lf

# Markdown files
*.md text eol=lf

# Text files
*.txt text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.cfg text eol=lf
*.ini text eol=lf

# Shell scripts
*.sh text eol=lf

# Batch scripts
*.bat text eol=crlf
*.cmd text eol=crlf

# Windows
*.sln text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.wav binary
*.mp3 binary
*.m4a binary
*.zip binary
*.gz binary
*.tar binary
*.pdf binary
*.docx binary
*.xlsx binary
